@use "../base/variables" as v;
@use "../base/mixins" as m;

.site-header {
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px 0;
  background-color: rgba(0, 0, 0, 0.4);

  &__avatar {
    position: absolute;
    top: 0;
    left: 0;
  }

  &__avatar img {
    display: block;
    width: 30px;
    height: 30px;
  }

  &__menu {
    display: flex;
    justify-content: center;
    visibility: hidden;
    position: absolute;
    background-color: adjust-color(v.$mainBlack, $alpha: -0.11, $lightness: -1%);
    left: 0;
    right: 0;
    top: -20px;
    padding-top: 58px;
    opacity: 0;
    transform: translateY(-20%);
    transition: opacity 0.3s ease-out, visibility 0.3s ease-out, transform 0.3s ease-out;
    padding-bottom: 20px;

    &--active {
      opacity: 1;
      transform: translateY(0);
      visibility: visible;
    }

    @include m.atMedium {
      visibility: visible;
      opacity: 1;
      transform: translateY(0) scale(1);
      position: static;
      background-color: transparent;
      padding-top: 0;
      padding-bottom: 0;
      top: 0;
    }
  }

  &__search-trigger {
    cursor: pointer;
    color: #fff;
    font-size: 1.2rem;
    position: absolute;
    top: 6px;
    right: 16px;

    @include m.atSmall {
      top: 4px;
      font-size: 1.4rem;
    }

    @include m.atMedium {
      display: none;
    }
  }

  &__menu-trigger {
    color: #fff;
    cursor: pointer;
    font-size: 1.2rem;
    position: absolute;
    z-index: 10;
    top: 7px;
    right: 46px;

    @include m.atSmall {
      top: 5px;
      font-size: 1.4rem;
    }

    @include m.atMedium {
      display: none;
    }
  }

  &__util {
    padding: 0 0 0 20px;

    @include m.atMedium {
      padding: 0;
      float: right;
    }
  }

  &__logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
    img {
      width: 60%;
      height: auto;
    }
  }

  &__btn {
    margin-right: 20px;
    @include m.atMedium {
      float: left;
    }
  }

  .btn--with-photo {
    margin-right: 0;
  }
}
